# Rust's output directory
target

# Local settings
.soroban
.stellar
# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
#add web/.soroban
web/.soroban
#add web/.stellar
web/.stellar